<%- include('partials/header') %>
<div class="card">
    <div class="card-body">
        <h5 class="card-title"><%=book.title%></h5>
        <p class="card-text">
            <p>Auteur : <%=book.author%></p>
            <p>ISBN : <%=book.ISBN%></p>
            <p>Nombre de pages : <%=book.nb_pages%></p>
        </p>
    </div>
</div>

<a href="/book/update/<%=book.id%>">
    <button type="button" class="btn btn-primary">Modifier le livre</button>
</a>
<a href="/book/delete/<%=book.id%>">
    <button type="button" class="btn btn-danger">Supprimer le livre</button>
</a>
<%- include('partials/footer') %>