<%- include('partials/header') %>
<h2>Création d'un livre</h2>
<form action="/book/create" class="form-group" method="POST">
    <label for="title">Titre</label>
    <input type="text" class="form-control" name="title" id="title" placeholder="Saisissez le titre" maxlength="255">
    <label for="author">Auteur</label>
    <input type="text" class="form-control" name="author" id="author" placeholder="Saisissez l'auteur" maxlength="255">
    <label for="isbn">ISBN</label>
    <input type="text" pattern="\d*" maxlength="13" class="form-control" name="isbn" id="isbn" placeholder="1231231231231" size="">
    <label for="nb_pages">Nombre de pages</label>
    <input type="text" pattern="\d*" maxlength="5" class="form-control" name="nb_pages" id="nb_pages" placeholder="123">
    <button type="submit" class="btn btn-primary">Créer</button>
</form>

<%- include('partials/footer') %>