<!--Views-->
<head>
        <% include ../partials/head %>
    </head>
    <body class="container">
    
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <br>
        <br>
        <div class="titre">
                <h1 style=><i class="fas fa-leaf"></i>Choisis un défi et fais changer ta planète!<i class="fas fa-leaf"></i> </h1></div>
        </div>
<br>
<br>
<span style="font-size: 15em; color: black;">
<i class="fas fa-globe-americas"></i>
</span>
<br>
<br>
<br>

        <form action="/book/create" class="form-group" method="POST">
            <label for="title">Titre</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Saisissez le titre" maxlength="255">
            <label for="author">Auteur</label>
            <input type="text" class="form-control" name="author" id="author" placeholder="Saisissez l'auteur" maxlength="255">
            <label for="isbn">ISBN</label>
            <input type="text" pattern="\d*" maxlength="13" class="form-control" name="isbn" id="isbn" placeholder="1231231231231" size="">
            <label for="nb_pages">Nombre de pages</label>
            <input type="text" pattern="\d*" maxlength="5" class="form-control" name="nb_pages" id="nb_pages" placeholder="123">
            <button type="submit" class="btn btn-primary">Créer</button>
        </form>

    </main>
</main>
<footer>
    <% include ../partials/footer %>
</footer>