<!-- views/pages/index.ejs -->


<head>
        <% include ../partials/head %>
    </head>
    <body class="container">
    
    <header>
        <% include ../partials/header %>
    
    </header>
    
    <main>
       

<br>
<br>
<div class="imagedefi">

</div>

<div class="tidefi">
    <h1 >Ceci est le titre du defi</h1>


</div>
<br>
<br>
<div class="description">
    <h2>Ceci est Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus commodi aut nesciunt saepe sint doloremque non beatae atque dolor dicta quo adipisci temporibus, fuga facilis, voluptatibus vitae. Commodi odio dolorum laborum consequatur quia eligendi distinctio temporibus numquam minus labore saepe est inventore et sint quasi debitis tempore eveniet eum, vitae id. Vitae fugit dolore rem suscipit sequi distinctio, beatae excepturi libero dolores perferendis harum aspernatur ut animi hic modi eligendi obcaecati eaque voluptate doloremque quia, incidunt aliquid molestias esse ipsam. Consequuntur perferendis minima sunt vero deleniti voluptate voluptates ex, recusandae quis id incidunt? Nobis esse dignissimos incidunt doloribus tempora deleniti.
            <br>
            <br>
        <input type="submit" value="C'est parti!" style= background-color:chartreuse style="font-size: large;">
    </h2>
   

</div>


    </main>
    
    <footer>
        <% include ../partials/footer %>
    </footer>