<!--Views-->
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <br>
    <div class="defi"  >
            <span style="font-size: 2em; color: black;">
       <h3><i class="fas fa-leaf"></i> Devenez champion grâce à l'occasion!</h3>
    </div> 
    <br> 
    <div class="defi"   >
            <span style="font-size: 2em; color: black;">
       <h3><i class="fas fa-leaf"></i> Moins de viande en cuisine, plus de bonheur pour les animaux!</h3>
    </div>
    <br>
    <div class="defi"  >
            <span style="font-size: 2em; color: black;">
        <h3><i class="fas fa-leaf"></i>Transports , vélo, en commun ou partagés, c'est plus de convivialité!</h3>
    </div> 
    <br>
    <div class="defi">
            <span style="font-size: 2em; color: black;">
       <h3><i class="fas fa-leaf"></i>Trier ses déchets, c'est prendre soin!</h3>
    </div>
    <br>
    <div class="defi">
            <span style="font-size: 2em; color: black;">
       <h3> <i class="fas fa-leaf"></i>Passer au zero déchets, un super-pouvoir pour notre planète! </h3></span>
    </div>
    <br>
    <div class="defi">
            <span style="font-size: 2em; color: black;">
<h3><i class="far fa-plus-square"></i>Ajouter un defi</h3></span>

    </div>

    
    

</div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>